.Page, html, body {
    height: 100vh;
}

svg:hover path, svg:hover polygon, .title:hover {
    fill: yellow;
    color: blue;
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
}

.title {
    text-decoration: none;
    color: white;
}